### Build Tool Artifacts ###
target/
build/
out/
bin/

# We usually WANT to commit the Maven Wrapper so the project is portable
# !.mvn/wrapper/maven-wrapper.jar 

### Operating System Files ###
.DS_Store
desktop.ini
Thumbs.db

### Logs & Temp ###
*.log
logs/
*.tmp
*.swp

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# If you use the task/context feature
.idea/shelf/
.idea/workspace.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.history/
*.code-workspace

### Spring Boot Specific ###
HELP.md
# Only ignore this if you use it for local secrets
application-local.properties